.idea/
# IDE
.vscode/
nbproject/
.DS_STORE
/coverage/
# Vendor
/vendor/
# Cache
.phpunit.result.cache
cache.properties
.php_cs.cache
# Composer
composer.phar
composer.lock
docker*
.env
.env.backup
.env.production
